@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400');

body{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 14px;
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 1.5s;
}
.riotlogo {
    width: 150px;
    height: 59px;
    position: absolute;
    z-index: 2;
    display: inline-flex;
    left: 0;
    overflow: hidden;
    
}
.menu {
    position: absolute;
}
.lucianspread{
    width: 100%;
    height: 100%;
    transition: ease 0.5s;
    opacity: .90;
    background: #ffffff;
    background-blend-mode: darken;
    filter: brightness(80%);
    overflow: visible;
    position: absolute;
    z-index: 0;
    transition: 2s ease;
    display: relative;
}

.info-bar {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    width: 30%;
    position: relative;
    display: flex;
    justify-content: space-around;
    list-style: none;
    z-index: 1;
    top: 70px;
}
.info-bar-fs {
    color: #f14545;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -.01em;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 2;
}
.infos {
    height: 100%;
    width: 100%;
}

.Vertnav {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    position: absolute;
    display: inline-block;
    justify-content: space-around;
    list-style: none;
    z-index: 1;
    top: 40%;
    line-height: 1.8;
    background: #0f0f0f;
    width: 150px;
    height: 180px;
    opacity: .4;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
    text-emphasis: 1;
    font-weight: 400px;
}
.vert-bar-fs {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -.01em;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 2;
    text-align: right;
    display: inline;
}
.Segments {
    Float: right;
    padding-right: 15%;

}

.VerticalWP
{ width: 100%;
    height: 100%;
    padding-right: 20%;

}

nav.mainlinks{
    width: 100%;
    height: 60px;
    background:rgb(255, 255, 255);
    display: flex;
    opacity: 1;
    position: absolute;
    z-index: 1;
    /* border-bottom: solid 2px rgb(128, 46, 46); optiojn to add */
}
.menu-item{
   white-space: nowrap;
   border-radius: 25px;
   /*-- background: transparent; future to be added
   background: #ffffff;*/
}
.menu {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
}
.menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.lang-bar{
    display: flex;
    color: rgb(121, 121, 121);
    background-color: transparent;
    border: none;
    font-size: 14px;
}
.globe-icon {
    display: inline-flex;
    width: 30px;
    height: 30px;
    padding-top: 13px;
}

.menu-lang {
    display: inline-flex;
    width: 200px;
}
.menu ul li{
    list-style: none;
}
.menu ul li,
.menu ul li a
{
    color: rgb(155, 155, 155);
    height: 44px;
    text-decoration: none;
    padding: 10px;
    margin: 0 -10px;
    display: flex;
}

/* hover css */ 

.menu-item:hover {
    color: #a83636;
    transition: 1s ease;
}
.lang-bar:hover {
    color: #a83636;
    transition: 1s ease;
}
.championwp:hover {
    color: white;
}
.lucianspread:hover{
    opacity: 100;
    filter: brightness(110%);
    transition: 2s ease;
}
.info-bar-fs:hover {
    color: #ffffff;
    transition: 1s ease;
}
.vert-bar-fs:hover {
    color: #ff0000;
    transition: 1s ease;
}
.Vertnav:hover {
    opacity: .7;
    transition: 1s;
    z-index: 2;
}
/* animation page loading */

body { 
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}   

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0;
        background: #333; 
    } 
    100% { 
        opacity: 1; 
        background: #333; 
     } 
} 
.Vertnav { 
    animation: fadeInAnimation2 ease 4s;
    animation-iteration-count: 1; 
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}   
@keyframes fadeInAnimation2 {
    0% { 
        opacity: 0;
        transform: translateX(20px);
    } 
    100% { 
        opacity: .4; 
        transform: translateX(0);   
} 
}

.menu-item { 
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
}   
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0;
    } 
    100% { 
        opacity: 1; 
     } 
} 

.riotlogo { 
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: backwards;
    animation-delay: 1s;
}   
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0;
    } 
    100% { 
        opacity: 1; 
     } 
} 

.menu-lang { 
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: backwards;
    animation-delay: 1s;
}   
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0;
    } 
    100% { 
        opacity: 1; 
     } 
} 

.info-bar { 
    animation: fadeInAnimation1 ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: backwards;
    animation-delay: 1.5s;
}   
@keyframes fadeInAnimation1 { 
    0% { 
        opacity: 0;
        transform: translateX(20px);
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0);
     } 
} 
/* footer edits */

.footerdetails {
    position: absolute;
    display: flex;
    bottom: 0%;
    width: 100%;
    height: 4rem;
    opacity: .5;
    background: #333;
    transition: ease;
}
